body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.chartContainer {
  margin: 15px 0;
  padding-top: 30px;
}

.teamsContainer {
  margin-top: 80px;
}

.input {
  display: flex;
  box-sizing: border-box;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 6px;
  box-shadow: inset 0 0 0 2px #CCCCCC;
  background: #FFFFFF;
  padding: 0 40px;
  width: 100%;
  height: 40px;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  appearance: none;
  margin-bottom: 10px;
}

.autobots .chartContainer {
  background: #e0ddd5;
}

.decepticons .chartContainer {
  background: rgba(183, 169, 199, 0.53);
}

.title {
  font-size: 15px;
  margin-bottom: -26px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100%;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}